@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Global Use */

:root {

  --mainColor: #19c8fa;
  --transparentColor: rgb(15 116 143 / 70%);
  --sectionBGColor: white;
  --section-padding: 100px;
  --headsColor: #323232;
  --headerColor: white;
  --paragraphColor: #777777;
  --sectionBGColor: white;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  font-family: 'Roboto', sans-serif
}

p {
  color: var(--paragraphColor, #777777);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-space {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.active-BG {
  background-color: var(--mainColor, #19c8fa);
  color: var(--headerColor, #fff);
}

.active {
  color: var(--mainColor, #19c8fa);
}

ul {
  list-style: none;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  background-color: royalblue;
}

.container {
  margin: 0 10%
}

section {
  background-color: var(--sectionBGColor, #fff);
}

section .container {
  padding: 4rem 0;
}

section .container .title {
  margin: 0 4rem;
  text-align: center;
  color: var(--headsColor, #323232);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section .container .title h2 {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 1.2rem 0;
  position: relative;
  color: var(--headsColor, #323232);

  margin-bottom: 2rem;
}

section .container .title h2::before {
  content: "";
  width: 150px;
  height: 2px;
  position: absolute;
  background-color: var(--headsColor, #323232);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

section .container .title h2::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--headsColor);
  background-color: var(--headerColor, #fff);

  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

section .container .title p {
  margin-bottom: 4rem;
  width: 65%;
}




/* *Header Styling */
header {
  width: inherit;
  position: absolute;
  top: 0;
  z-index: 1;
}

header .container {
  border-bottom: 1px solid var(--headerColor, #ffff);
}

header .container .log {
  width: 20%;
}

header .container .log img {
  width: 100%;
}

header .container .sections {
  justify-content: flex-end;
  color: var(--headerColor, white);
  flex-wrap: nowrap;
  position: relative;
  bottom: -1px;

}

header .container .sections ul {
  list-style: none;
  padding: 0;
  flex-wrap: nowrap;
  height: 100%;
}

header .container .dash {
  display: grid;
  grid-template-columns: 1fr;
  gap: .25rem;
  margin-right: 1rem;
  display: none;
  cursor: pointer;
}

header .container .dash span {
  width: 1.5rem;
  height: .2rem;
  border-radius: .25rem;
  background-color: var(--headerColor, #fff);

}

header .container .sections ul li {
  margin-right: 1rem;
}

header .container .sections ul li a {
  display: block;
  text-decoration: none;
  color: var(--headerColor, white);
  padding: 2rem .5rem;
  border-bottom: 1px solid var(--headerColor, white);

  transition: .1s;
}

header .container .sections ul li:hover a {
  border-bottom-color: var(--mainColor, #19c8fa);
  color: var(--mainColor, #19c8fa);
}

header .container .sections>i {
  padding: .5rem 1.5rem;
  border-left: 1px solid var(--headerColor, #fff);
  cursor: pointer;
}

header .container .sections>i:hover {
  border-left-color: var(--mainColor, #19c8fa);
  color: var(--mainColor, #19c8fa);
}

@media (min-width:992px) {
  header .container {}
}

@media (min-width:768px) and (max-width:991px) {
  .container {
    margin: 0 5%;
  }

  header .container .sections ul li {
    margin-right: .5rem;
  }


}


@media (max-width:768px) {
  .container {
    padding: 1rem 0;
    margin: 0 2.5%;
  }

  header .container .sections .dash:hover+ul {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 4.5rem;
    background-color: rgb(0, 0, 0, 50%);
    height: fit-content;
    padding: .5rem;
    border-radius: .25rem;

    width: 300px;
  }

  header .container .sections .dash:hover span {
    background-color: var(--mainColor);
  }

  header .container .sections ul li a {
    padding: 1rem;
    width: 100%;
  }

  header .container .dash {
    display: grid;
  }

  header .container .sections {}

  header .container .sections ul {
    display: none;
  }

  header .container .sections ul li {
    margin-right: .5rem;
  }
}

/* *Header Styling End */


/* *Hello Style Start  */
.hello {
  color: var(--headerColor, #fff);
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../images/landing.jpg);
  background-size: cover;
}

.hello .transparent {
  width: 100%;
  height: 100%;
  background-color: black;

  position: absolute;
  opacity: .6;
  top: 0;
  left: 0;
}

.hello .text {
  width: 50%;
  padding: 4rem 3rem;
  background-color: var(--transparentColor, #19c8fa);
  position: absolute;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hello .text h1 {
  margin-top: 0;
  line-height: 1.5;
  font-weight: normal;
}

.hello .text p {
  color: var(--headerColor, #fff);
}

.hello>i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.hello>i:hover {
  color: var(--mainColor, #19c8fa);
}

.fa-angle-right {
  right: 1rem;
}

.fa-angle-left {
  left: 1rem;
}

.scroll-circ {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

}

.scroll-circ div {
  width: 20px;
  height: 20px;
  margin-left: .5rem;
  border-radius: 50%;
  border: 2px solid var(--mainColor, #19c8fa);
}


@media (min-width:992px) {}

@media (min-width:768) and (max-width:991px) {}

@media (max-width:768px) {
  .hello .text {
    width: 100%;
  }

  .hello .scroll-circ {
    display: none;
  }

  .fa-angle-left,
  .fa-angle-right {
    display: none;
  }
}

/* *Hello Style End  */



/* *Services Section Style */

.services .container {}

.services .container .texts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.services .container .text {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.services .container .text i {
  color: black;
}

.services .container .text h3 {
  color: var(--mainColor, #19c8fa);
  margin-bottom: 1rem;
}

.services .container .text p {
  line-height: 1.5;
  font-size: 1.1rem;
}

@media (max-width:768px) {
  .services .container .texts {
    grid-template-columns: 1fr;
    ;
  }

  .services .container .text {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }
}

/* *Services Section Style End */



/*  */
.properties {
  position: relative;
  background: url(../images/design-features.jpg);
  background-size: cover;
  min-height: 600px;
  overflow: hidden;
}

.properties .container {
  overflow: hidden;
}

.properties .container img {
  position: absolute;
  bottom: -5rem;
}

.properties .container ul {
  color: var(--headerColor, white);
  padding: 2rem;
  width: 55%;
  background-color: var(--transparentColor, #19c8fa);

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width:768px) {
  .properties .container ul {
    width: 100%;
  }

  .properties .container img {
    display: none;
  }
}

.properties .container ul li {
  margin: 1rem 0;
  padding: .5rem 0;
}

.properties .container ul li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f016';
  margin-right: 10px;
}



/* * Portfolio */

.portfolio {}

.portfolio .container ul {
  display: flex;
  justify-content: center;
}

.portfolio .container ul li {
  padding: .5rem;
  margin-right: .5rem;
  cursor: pointer;
}

.portfolio .container ul li:hover {
  background-color: var(--mainColor, #19c8fa);
  color: var(--headerColor, #fff);
}

.portfolio .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.portfolio .gallery .box {
  position: relative;
  overflow: hidden;
}

.portfolio .gallery .box img {
  width: 100%;
  display: block;
}

.portfolio .gallery .box .caption {
  position: absolute;
  bottom: -10rem;
  transition: .5s;
  background-color: var(--headerColor, #fff);
  width: 100%;
  padding: 1rem;

}

.portfolio .gallery .box .caption h4 {
  font-weight: normal;
  margin-bottom: .5rem;
}

.portfolio .gallery .box .caption p {
  color: var(--mainColor, #19c8fa);
}

.portfolio .gallery .box:hover .caption {
  bottom: 0;
}

.portfolio .more-button {
  width: 100%;
  justify-content: center;
}

.portfolio .more-button button {
  color: var(--headerColor, #fff);
  background-color: var(--mainColor, #19c8fa);
  padding: 1rem;
  border: none;
  outline: none;
  margin-top: 2rem;
  margin-bottom: 4rem;
}


/* Video  */
.portfolio .video {
  position: relative;
}

.portfolio .video::before {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .4;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio .video video {
  width: 100%;
  display: block;
}

.portfolio .video .video-tag {
  padding: 2rem;
  width: 100%;
  background-color: var(--transparentColor, #19c8fa);
  color: var(--headerColor, #fff);
  text-align: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio .video .video-tag h3 {
  font-weight: normal;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.portfolio .video .video-tag p {
  color: var(--headerColor, #fff);
  margin-bottom: 2rem;
}

.portfolio .video .video-tag button {
  border: none;
  background-color: black;
  color: var(--headerColor, #fff);
  padding: .5rem 1rem;
}

/* About Section */
.about .container {
  overflow: hidden;
  padding-bottom: 0;
}

.about .container .img {
  position: relative;
  overflow: hidden;
  width: 80%;
  justify-content: center;
  margin-top: -100px;
}

.about .container .img img {
  position: relative;
  bottom: -140px;

  width: 100%;
}

@media (max-width: 767px) {
  .about .container .img img {
    bottom: -50px;
  }

  .portfolio .video .video-tag {
    height: 50%;
    padding: .5rem;
  }

  .portfolio .video .video-tag h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .portfolio .video .video-tag p {
    margin: 0;
  }

  .portfolio .video .video-tag button {
    padding: .2rem;
    margin-top: .5rem;
  }

  section .container .title {
    margin: 0;
  }

  section .container .title p {
    width: 90%;
  }

}


/* Achievements Section */
.achievements {
  background: url(../images/stats.png);
  height: fit-content;

  position: relative;

  color: var(--headerColor, #fff);
  z-index: 1;


}

.achievements .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.achievements::before {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.achievements .box {
  background-color: var(--transparentColor, #19c8fa);
  padding: 2rem;
  text-align: center;

}

.achievements .box i {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: black;

  margin-bottom: 1rem;
}

.achievements .box p {
  color: var(--headerColor, #fff);
  width: 100%;
}

.achievements .box p:first-of-type {
  font-size: 3rem;
  font-weight: bold;

  margin-bottom: 1rem;
}





/* * Skills Style Start */
.skills .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

@media (max-width: 767px) {
  .skills .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.skills .container div .title-test {
  text-align: center;
  margin-bottom: 4rem;
}

.skills .container div .title-test h4 {
  font-weight: normal;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.skills .container div .title-test p {
  font-size: 1rem;
  line-height: 2;
}
.testimonials-side {
  position: relative;
  padding-bottom: 4rem;
}

.testimonials-side .monials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.testimonials-side .monials::after {
  content: "John Doe, CEO";
  color: var(--paragraphColor, #777777);

  position: absolute;
  bottom: .5rem;
  right: 0;
  font-size: .9rem;
}

.testimonials-side .monials img {
  width: 100px;
  border-radius: 50%;
  margin-right: 2rem;
}

.testimonials-side .monials p {
  line-height: 1.5;
  padding: 2rem 0;
  border-bottom: 2px solid #eee;
  color: black;
}

.testimonials-side .scroll-circ {
  
}
.testimonials-side .scroll-circ div {
  width: 10px;
  height: 10px;
}



.skills-side .skills.scale {}

.skills-side .skills-scale p {
  color: black;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.skills-side .skills-scale div {
  width: 100%;
  height: 30px;
  background-color: #eee;
  margin-bottom: 2rem;
}

.skills-side .skills-scale div span {
  height: 100%;
  width: 50%;
  background-color: var(--mainColor, #19c8fa);
  display: block;

  position: relative;
}

.skills-side .skills-scale div span::before {
  content: "";
  border: 10px solid;
  border-color: black transparent transparent transparent;

  position: absolute;
  right: -10px;
  top: -12px;
}
.skills-side .skills-scale div span::after {
  content: attr(data-percentage);
  
  position: absolute;
  top: -35px;
  right: -18.03px;
  background-color: black;
  color: white;
  padding: .2rem;
  border-radius: .25rem;
  z-index: 1;
}





/* * Skills Style End */

/* * Quote Style */
.quote {
  background: url(../images/quote.jpg);
  background-size: cover;
  
  position: relative;
  z-index: 1;
}
.quote::before {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.images-container {
  padding-top: 6rem;
  padding-bottom: 5rem;
  text-align: center;
  color: var(--headerColor, #fff);
justify-content: center;
}
.images-container q {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
  font-size: 1.9rem;
}
.images-container p {
  color: var(--headerColor, #fff);
}
/* * Quote Style End */


/* * Plans Style Start */
.pricing .container .plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-align: center;
  gap: 2rem
}
.pricing .container .plans .plan {
  background-color: rgb(248, 248, 248);
}

.pricing .container .plans .plan .info-1 {
  padding: 2rem;
  border-top: 1px solid var(--mainColor, #19c8fa);
  border-bottom: 1px solid var(--mainColor, #19c8fa);
}
.pricing .container .plans .plan .info-1 h4 {
  font-weight: normal;
  font-size: 1.25rem;
  margin-bottom: 1rem;

}
.pricing .container .plans .plan .info-1 span {
  font-size: 4rem;
  color: black;
  position: relative;
  font-weight: normal;
}
.pricing .container .plans .plan .info-1 span::before {
  content: "$";
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: -1.5rem;
}
.pricing .container .plans .plan .info-1 span::after {
  content: "/MO";
  font-size: 2rem;
  position: absolute;
  left: 4.5rem;
  bottom: 0;
}
.pricing .container .plans .plan ul {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--mainColor, #19c8fa);
}

.pricing .container .plans .plan ul li {
  padding: .5rem .5rem;
  margin-bottom: 1rem;
  width: fit-content;
  border-bottom: 1px solid var(--mainColor, #19c8fa);
}
.pricing .container .plans .plan ul li:last-child {
  border: none
}

.pricing .container .plans .plan button {
  padding: .5rem 1rem;
  border: 1px solid var(--mainColor, #19c8fa);
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pricing .container .contact-button {
  margin-top: 2rem;
  text-align: center;
}
.pricing .container .contact-button p {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}
.pricing .container .contact-button button {
  padding: 1rem 2rem;
  border: none;
  color: white;
  background-color: var(--mainColor, #19c8fa);
}
/* * Plans Style End */


/* * Email Style */
.email {
  background: url(../images/subscribe.jpg);
  background-size: cover;
  
  position: relative;
  z-index: 1;
}
.email::before {
  width: 100%;
  height: 100%;
  opacity: .4;
  background-color: black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.email .container {
  flex-wrap: nowrap;
  padding: 6rem 0px;
  
}
.email .container form {
  width: 50%;
  border: 1px solid white;
  justify-content: space-between;
  margin-right: 2rem;
}

@media (max-width: 991px) {
  .email .container {
    flex-direction: column;
  }
  .email .container form {
    width: 90%;
    margin-bottom: 1rem;
    align-self: center;
  }
}
.email .container form input[type="email"] {
  padding:  1.3rem 1rem;
  background-color: transparent;
  width: 70%;
  border: none;
  outline: none;
  color: white;
}
.email .container form input[type="email"]::placeholder {
  color: white;
}
.email .container form input[type="submit"] {
  height: inherit;
  width: 30%;
  color: var(--headerColor, #fff);
  text-transform: uppercase;
  background-color: var(--mainColor, #19c8fa);
  border: none;
}

.email .container p {
  color: var(--headerColor, #fff);
  line-height: 1.8;
}
/* * Email Style End */


/* *Contact Section Style */

.contact .container .contact-div {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4rem;
}

.contact .container .contact-div form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto) 1fr auto;
  gap: 2rem;
  width: 100%;
}
.contact .container .contact-div form input {
  padding: 1rem;
  outline: none;
  border: 1px solid rgb(197, 197, 197);
}
.contact .container .contact-div form textarea {
  padding: 1rem;
  border: 1px solid rgb(197, 197, 197);
  outline: none;
}
.contact .container .contact-div form input[type="submit"] {
  width: fit-content !important;
  justify-self: end;
  
  color: white;
  background-color: var(--mainColor, #19c8fa);
}

.contact .container .contact-div .info div {
  margin-bottom: 4rem;
  line-height: 1.8;
}
.contact .container .contact-div .info div h5 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.contact .container .contact-div .info .address address {
  line-height: 1.8;
  color: var(--paragraphColor, #777777);
}

@media (max-width: 767px) {
  .contact .container .contact-div {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  
  .contact .container .contact-div .info {
    order: -1;
  }
  .contact .container .contact-div .info div {
    margin-bottom: 2rem;
  }
  .contact .container .contact-div .info div h5 {
    margin-bottom: 1rem;
  }


}
/* *Contact Section End */


/* *Footer Styling */
footer {
  background: url(../images/subscribe.jpg);
  background-size: cover;
  padding: 4rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
footer::Before {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .6;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
footer img {
  margin-bottom: 3rem;
}
footer > p:first-of-type {
  font-size: 1.5rem;
  padding: 1.5rem;
  border-bottom: 1px solid var(--headerColor, #fff);
  text-transform: uppercase;
  color: var(--headerColor, #fff);
  margin-bottom: 2rem;
}
footer .icons a {
  color: var(--headerColor, #fff);
  margin-left: .2rem;
}
footer > p:last-child {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: var(--headerColor, #fff);
}
footer > p:last-child span {
  color: var(--mainColor, #19c8fa);
}

button {
  cursor: pointer;
}